<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por region <small> {{regionActiva | titlecase}} </small> </h3>
  <hr/>

  <h5>Seleccione la region</h5>

  <!-- si es verdadero agrega la clase btn-primary -->
  <!-- [class.btn-primary]="region === regionActiva" -->

  <!-- Otra manera de agregar clases -->
  <!-- [ngClass]="{
    'clases de css': true,
    'clases de css': true,
    'clases de css': true
  }" -->

  <!-- Esta forma evalua ambas condiciones  -->
  <!-- [ngClass]="{
    'btn-primary': region === regionActiva,
    'btn-outline-primary': region !== regionActiva
  }" -->

  <!-- Condicion en una linea -->
  <!--  [class]="(region === this.regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'"; -->

  <div class="row">
    <div class="col">
      <button *ngFor="let region of regiones"
        [class]="getClassCSS(region)"
        (click)="activarRegion(region)"
      >
        {{region | titlecase}}
      </button>
    </div>
  </div>

  <div *ngIf="paises.length > 0" class="row">
    <div class="col">
      <app-pais-table [paises]="paises" ></app-pais-table>
    </div>
  </div>
</div>