
<h1 class="mt-5">Agregar Product </h1>
<hr>

<form [formGroup]="miFormulario"

>
  <div class="row g-3 align-items-center mb-3">

    <div class="col-auto">
      <label class="col-form-label">Nombre</label>
    </div>

    <div class="col-auto">
      <input 
        type="text" 
        class="form-control"
        formControlName="nombre"
      >
    </div>

    <div class="col-auto">
      <span 
        [valido]="!tieneError('nombre')"
        appErrMsg
        [mensaje]="text1"
        [color]="color"></span>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col">
      <button
        class="btn btn-primary"
        type="submit"
        (click)="cambiarNombre()"
      >
        cambiar Nombre
      </button>

      &nbsp;

      <button
        class="btn btn-primary "
        type="submit"
        (click)="cambiarColor()"
      >
        cambiar Color
      </button>
    </div>
  </div>
</form>


<h3 class="mt-5"> Formulario </h3>
<pre>Valid: {{ miFormulario.valid  }} </pre>
<pre>Value: {{ miFormulario.value | json  }} </pre>

<br>
<h3>Ejemplos de la directiva</h3>
<small appErrMsg></small> <br>
<small appErrMsg color="blue"></small> <br>
<small appErrMsg [color]="colorPersonalizado"></small> <br>
<small appErrMsg color="blue" mensaje="Mi mensaje"></small> <br>

<!-- Con el * mando la referencia de todo el HTML -->
<div class="row mt-5" *appCustomIf="miFormulario.valid">
  <div class="col">
    <div class="alert alert-info">
      Todo Ok
    </div>
  </div>
</div>